<nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #4b0082 ;">
  <a class="navbar-brand" routerLink="/" style="color: #fff;">NexTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li *ngIf="!auth.isLoggedIn()" class="nav-item active">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item active">
        <a class="nav-link" routerLink="/profile">{{ auth.getUserDetails()?.name }}</a>
      </li>
      <li *ngIf="auth.isLoggedIn()" class="nav-item active  ">
        <a class="nav-link" routerLink="" (click)="auth.logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>